<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>

    <main>
        <div>
            <h1>{{todoitem.name}}</h1>
            <p>
                <a href="{% url 'todo_list_update' todoitem.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todoitem.id %}">Delete</a>
            </p>
            <h2>Tasks<h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for it in todoitem.its.all %}
                    <tr>
                        <td>{{ it.task }}</td>
                        <td>{{ it.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>
</html>
