<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a New Item</title>
</head>
<body>

  <main>
    <div>
      <h1>Create a new item</h1>

      <form method="post">
        {% csrf_token %}
        
        <label for="task">Task:</label>
        <input type="text" id="task" name="task" required>

        <label for="due_date">Due Date:</label>
        <input type="text" id="due_date" name="due_date" required>

        <label for="is_completed">Is Completed:</label>
        <input type="checkbox" id="is_completed" name="is_completed">

        <label for="list">Select List:</label>
        <select id="list" name="list">
          <option value="list1">List 1</option>
          <option value="list2">List 2</option>
          <option value="list3">List 3</option>
        </select>

        <button type="submit">Create</button>
      </form>
    </div>
  </main>

</body>
</html>
